* {
box-sizing: border-box;
}

.movie-result-box {
  height: 300px;
  width: 100%;
}

.name-image-trailer-box {
  vertical-align: top;
  border: 1px black solid;
  height: 100%;
  width: 49%;
  background-color: rgba(216, 231, 235, 0.59);
  display: inline-block;
}

.plot-score-box {
  vertical-align: top;
  border: 1px black solid;
  height: 100%;
  width: 49%;
  background-color: rgba(154, 208, 218, 0.93);
  display: inline-block;
}

img {
  margin: 10px;
  height: 150px;
  width: 100px;
}

span > div {
  line-height: 150%;
  margin-bottom; 5px;
}
