* {
	box-sizing: border-box
}

.row {
	max-width: 1400px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}

.row::before
.row::after {
	display: table;
	content: ''
}

.row::after {
	clear: both;
}

.col, .col12 {
	float: left;
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
}

.col, .col-12 {
	width: 100%;
	padding: 20px;
}



@media only screen and (min-width: 640px) {
	.col {
		width: 50%;
	}

.name-image-trailer-box, .plot-score-box {
	height: 100%;
}

#lightbox iframe {
  margin-top: 100px;

}

.logo {
	bottom: 45%;
}

	.first-search-box {
		width: 450px;
		left: calc(50% - 225px);
		height: 200px;
		margin-top: 220px;
	}

  .col-12 {
    width: 100%;
  }

	input{
		width: 250px;
	}
.name-image-trailer-box, .plot-score-box {
		height: 350px;
		overflow: auto;
	}

.first-search-wrapper {
	width: 100%;
	margin: 0 auto;
	left: 0px;
}
}
/*Ipad*/

@media only screen and (min-width: 641px) and (max-width: 930px) {
	.name-image-trailer-box, .plot-score-box {
		height: 480px;
		overflow: auto;
	}
}
